.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #92320c;
  color: white;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
@media (max-width: 550px) {
.button { padding: 0.75rem 1rem;}
}

.button:hover,
.button:active {
  background-color: white;
  color: #92320c ;
}
.button:hover> span{
color:white;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}


.bump {
  animation: bump 400ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}